<div class="bg-white px-6 py-24 sm:py-32 lg:px-8">
  <div class="mx-auto max-w-7xl text-center">
    <h2 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Traefik Middleware Examples</h2>
    <p class="mt-6 text-lg leading-8 text-gray-600">
      This application is an example for demonstrating how to set up Traefik middleware when deploying web applications with Kamal
    </p>
  </div>

  <div class="mt-8 mx-auto max-w-7xl text-center">
    <p class="mt-6 text-lg leading-8 text-gray-600">
      Endpoints:
    </p>
  </div>

</div>
